<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(notebook) do |f| %>
  <% if notebook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notebook.errors.count, "error") %> prohibited this notebook from being saved:</h2>

      <ul>
      <% notebook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Notebook title"%>
    <%= f.text_field :title ,class: 'form-control'%>
  </div>

  <div class="field">
    <%= f.label :shelf_id, "What shelf should this go on?" %>
  <%= f.select(:shelf_id, options_for_select(@shelf_options), {}, {:class => 'form-control'}) %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn'%>
  </div>
<% end %>
</div>
</div>