<p id="notice"><%= notice %></p>
<div class="row">
    <% @notes.each do |note| %>
      <div class="col-sm-2">
          <%= link_to ('<img src="'+note.download+'">').html_safe, note %>
          <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
    <% end %>
</div>
<%= link_to "New Note", new_note_path(:notebook => @notebook.id) %>


<%= link_to 'Edit', edit_notebook_path(@notebook) %> |
<%= link_to 'Back', notebooks_path %>
