<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.name %> <%= link_to 'Edit', edit_user_path(@user) %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %> <%= link_to 'Edit', edit_user_path(@user) %>

</p>

<td><%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'All your entire library will be unavailible. Are you sure you want to delete your account?' } %></td>
