<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
      
      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.file_field :file %>
      <%= f.label :shelf_id %>
  <%= f.select(:shelf_id, options_for_select(@shelf_options)) %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
