<div class="container">
<p id="notice"><%= notice %></p>


    <% @shelves.each do |shelf| %>
      <div class="row">
        <h1><%= shelf.title %></h1>
        <p><%= shelf.description %></p>
        <% @items.where("shelf_id = ?", shelf.id).each do |item| %>
          <div class="col-sm-3">
            <a href="<%= item.download %>"><img src="<%= item.preview %>"></a>
            <h3><%= item.title.truncate(27) %></h3>
            <table>
              <tr>
                <td><%= link_to 'Edit', edit_item_path(item) %></td>
                <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            </table>
          </div>
        <% end %>
        <td><%= link_to 'Show', shelf %></td>
        <td><%= link_to 'Edit', edit_shelf_path(shelf) %></td>
        <td><%= link_to 'Destroy', shelf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
    <% end %>

  

<%= link_to 'New Shelf', new_shelf_path %>
<%= link_to 'New Notebook', new_notebook_path %>
<%= link_to 'New File', new_item_path %>
</div>